AracKiralamaSistemi/Connected Services/KullaniciService/KullaniciWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertKullanici">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Kullanici">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="kullaniciId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="kullaniciAd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="parola" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kullaniciTuru" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertKullaniciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertKullaniciResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="idAl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="idAlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idAlResult" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciDogrulama">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciDogrulamaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciDogrulamaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MaxKullaniciId">
        <s:complexType />
      </s:element>
      <s:element name="MaxKullaniciIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaxKullaniciIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteKullanici">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kullaniciId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteKullaniciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteKullaniciResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAllKullanicis">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllKullanicisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllKullanicisResult" type="tns:ArrayOfKullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKullanici">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Kullanici" nillable="true" type="tns:Kullanici" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectKullaniciById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kullaniciId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectKullaniciByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectKullaniciByIdResult" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertKullaniciSoapIn">
    <wsdl:part name="parameters" element="tns:InsertKullanici" />
  </wsdl:message>
  <wsdl:message name="InsertKullaniciSoapOut">
    <wsdl:part name="parameters" element="tns:InsertKullaniciResponse" />
  </wsdl:message>
  <wsdl:message name="idAlSoapIn">
    <wsdl:part name="parameters" element="tns:idAl" />
  </wsdl:message>
  <wsdl:message name="idAlSoapOut">
    <wsdl:part name="parameters" element="tns:idAlResponse" />
  </wsdl:message>
  <wsdl:message name="KullaniciDogrulamaSoapIn">
    <wsdl:part name="parameters" element="tns:KullaniciDogrulama" />
  </wsdl:message>
  <wsdl:message name="KullaniciDogrulamaSoapOut">
    <wsdl:part name="parameters" element="tns:KullaniciDogrulamaResponse" />
  </wsdl:message>
  <wsdl:message name="MaxKullaniciIdSoapIn">
    <wsdl:part name="parameters" element="tns:MaxKullaniciId" />
  </wsdl:message>
  <wsdl:message name="MaxKullaniciIdSoapOut">
    <wsdl:part name="parameters" element="tns:MaxKullaniciIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteKullaniciSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteKullanici" />
  </wsdl:message>
  <wsdl:message name="DeleteKullaniciSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteKullaniciResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllKullanicisSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllKullanicis" />
  </wsdl:message>
  <wsdl:message name="SelectAllKullanicisSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllKullanicisResponse" />
  </wsdl:message>
  <wsdl:message name="SelectKullaniciByIdSoapIn">
    <wsdl:part name="parameters" element="tns:SelectKullaniciById" />
  </wsdl:message>
  <wsdl:message name="SelectKullaniciByIdSoapOut">
    <wsdl:part name="parameters" element="tns:SelectKullaniciByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="KullaniciWebServiceSoap">
    <wsdl:operation name="InsertKullanici">
      <wsdl:input message="tns:InsertKullaniciSoapIn" />
      <wsdl:output message="tns:InsertKullaniciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="idAl">
      <wsdl:input message="tns:idAlSoapIn" />
      <wsdl:output message="tns:idAlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciDogrulama">
      <wsdl:input message="tns:KullaniciDogrulamaSoapIn" />
      <wsdl:output message="tns:KullaniciDogrulamaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MaxKullaniciId">
      <wsdl:input message="tns:MaxKullaniciIdSoapIn" />
      <wsdl:output message="tns:MaxKullaniciIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteKullanici">
      <wsdl:input message="tns:DeleteKullaniciSoapIn" />
      <wsdl:output message="tns:DeleteKullaniciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllKullanicis">
      <wsdl:input message="tns:SelectAllKullanicisSoapIn" />
      <wsdl:output message="tns:SelectAllKullanicisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKullaniciById">
      <wsdl:input message="tns:SelectKullaniciByIdSoapIn" />
      <wsdl:output message="tns:SelectKullaniciByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KullaniciWebServiceSoap" type="tns:KullaniciWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertKullanici">
      <soap:operation soapAction="http://tempuri.org/InsertKullanici" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="idAl">
      <soap:operation soapAction="http://tempuri.org/idAl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciDogrulama">
      <soap:operation soapAction="http://tempuri.org/KullaniciDogrulama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaxKullaniciId">
      <soap:operation soapAction="http://tempuri.org/MaxKullaniciId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKullanici">
      <soap:operation soapAction="http://tempuri.org/DeleteKullanici" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllKullanicis">
      <soap:operation soapAction="http://tempuri.org/SelectAllKullanicis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKullaniciById">
      <soap:operation soapAction="http://tempuri.org/SelectKullaniciById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KullaniciWebServiceSoap12" type="tns:KullaniciWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertKullanici">
      <soap12:operation soapAction="http://tempuri.org/InsertKullanici" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="idAl">
      <soap12:operation soapAction="http://tempuri.org/idAl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciDogrulama">
      <soap12:operation soapAction="http://tempuri.org/KullaniciDogrulama" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaxKullaniciId">
      <soap12:operation soapAction="http://tempuri.org/MaxKullaniciId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKullanici">
      <soap12:operation soapAction="http://tempuri.org/DeleteKullanici" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllKullanicis">
      <soap12:operation soapAction="http://tempuri.org/SelectAllKullanicis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKullaniciById">
      <soap12:operation soapAction="http://tempuri.org/SelectKullaniciById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KullaniciWebService">
    <wsdl:port name="KullaniciWebServiceSoap" binding="tns:KullaniciWebServiceSoap">
      <soap:address location="http://localhost:61799/KullaniciWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="KullaniciWebServiceSoap12" binding="tns:KullaniciWebServiceSoap12">
      <soap12:address location="http://localhost:61799/KullaniciWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>